#root {
  max-width: 1280px;
  margin:  auto;
  text-align: center;
}

.name{
  color: blueviolet;
}

.outer{
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.inner{
  background-color: green;
  color: white;
  padding: 1px;
}

