.name {
  align-items: center;
  justify-content: center;
}



.certification{
  background-color: aqua;
  height: 143px;
  width: 480px;
  flex-shrink: 0;
  padding: 5px 0px 0px 10px;
}
.heading{
  font-weight: 700;
}
.paragraph{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.button{
  display: flex;
  width: 244px;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 24px;
  border: 1px solid #0073e6;

}


/* Container for Flexbox layout */
.container {
  display: flex;
  gap: 30px; /* Space between left and right parts */
  background-color: #f3f4f6;
  width: 1234px;
  height: 150px;
}

/* Left part: Heading, Content, Links */
.left-part {
  flex: 1;
}

.left-part h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.left-part p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.links-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.link {
  color: #1d4ed8;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.link:hover {
  text-decoration: underline;
}

.link i {
  margin-left: 8px;
}

/* Right part: Video Thumbnail */
.right-part {
  width: 33.33%; /* 1/3 width */
}

.video-thumbnail {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.video-thumbnail img {
  /* max-width: 100%; */
  height: auto;
  border-radius: 4px;
}




.table-container{
  display: flex;
  flex-direction: row;
  /* gap: 20px; */
  /* width: 100%; */
  /* height: 100%; */
  /* padding: 20px; */
  /* background-color: #f3f4f6; */
  margin-top: 30px;
  height: 300px;
  width: 350px;
}

.para{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: #1d4ed8;
  color:#fff;
}

.span{
  font-weight: 700;
}

.table{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #f3f4f6;
  list-style: none;
}