#root {
  max-width: 1280px;
  text-align: center;
}

.product-card{
  display: flex;
  /* flex-direction: column; */
  width: 150px;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}
.product-img{
  width: 100px;
  height:100px;
}
.products{
  display: flex;
  flex-wrap: wrap;
}