/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
  background-color: #f3f4f6;
  min-height: 100vh;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
  color: #333;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background-color: #4d90fe;
  color: white;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #357ae8;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 18px;
  color: #333;
  margin: 5px 0;
}

.room-creation div {
  margin-bottom: 15px;
}

.room-creation .buttons {
  margin-top: 20px;
}

.room-creation button {
  margin-top: 15px;
}

.room-creation div span {
  font-weight: bold;
  margin-right: 10px;
}

.room-creation button {
  cursor: pointer;
  background-color: #28a745;
}

.room-creation button:hover {
  background-color: #218838;
}
